{% extends 'Events/base.html' %} 
{% block title %}CONTACT US{% endblock %}

{% block css %}
    .container{
        height: 60vh;
    }

{% endblock %}



{% block body %}
<div class="container">
    <div>
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId" placeholder="Enter Your name">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" id="email" aria-describedby="helpId" placeholder="Enter Your Email Address">
    </div>
</div>

{% endblock %}